* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  background-color: #0c7572;
  width: 100%;
  height: 80px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  max-width: 100px;
  width: 80px;
  height: 80px;
  padding: 2px;
  padding-left: 10px;
}
.img-logo {
  border-radius: 10px 30px / 30px 40px;
}
.img-logo:hover {
  transform: scale(1.3);
  transition: 3s;
}
.title {
  padding: 20px;
}
.nav-item {
  padding: 15px 3px;
}
.nav-link {
  padding-top: 60px;
  color: azure;
  text-transform: uppercase;
}
.nav-link:hover {
  border-radius: 6px;
  background-color: #034574;
  transition: 3s;
}

@media (max-width: 768px) {
  .header-container {
  }
  .container {
  }
  .logo {
    display: flex;
    max-width: 100px;
    width: 80px;
    height: 80px;
    padding: 2px;
    padding-left: 10px;
  }
  .img-logo {
    border-radius: 10px 30px / 30px 40px;
  }
  .title {
    display: none;
  }
  .nav-item {
    padding: 20px 10px;
  }
  .nav-link {
    color: azure;
    text-transform: uppercase;
  }
}

/* --Carousel-- */

/* .carousel .slide {
  display: flex;
  justify-content: center;
}
.carousel-inner img {
  width: 80%;
  height: 80%;
} */

/* --footer-- */
.footer {
  background: linear-gradient(to top, #d2e6e5f8, #48817ef8);
}
.network__title {
  color: azure;
  font-size: 20px;
  text-align: center;
}
.footer__list {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__item {
  width: 50px;
  list-style: none;
  text-align: center;
}
.fab:hover {
  color: tomato;
}
.fab {
  color: azure;
  font-size: 35px;
}
.footer__text {
  color: azure;
  font-size: 15px;
  text-align: center;
}
